# ignore exercism solution files
*/**/.solution.json
*/**/.exercism/

# clojure stuff
*/**/.lein-failures
*/**/.lein-repl-history
**/target
*/**/.nrepl-port

# node modules
*/**/node_modules

# java projects
*/**/.classpath
*/**/.gradle
*/**/.project
*/**/.settings
*/**/bin
*/**/.nrepl-port
